.voiture-detail {
  font-weight: bold;
}

.allImg {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.caddieDiv {
  display: flex;
  justify-content: space-between;
}

.cartShop {
  font-size: medium;
  padding: 5px;
}

.imgVoiture {
  width: 200px;
  padding: 8px 8px;
}

.thumb {
  margin: 10px 10px;
}

.card {
  font-family: PT Sans Narrow, sans-serif;
}
