<div class="d-flex justify-content-center">
  <div class="col-8 text-center p-0 mt-3 mb-2">
    <div class="card px-0 pt-4 pb-0 mt-3 mb-0">
      <h2 class="mb-2" id="titleform">Liste des voitures</h2>

      <p class="mb-3">
        <span *ngIf="listVoiture.length > 0 ;else elseBlock">{{listVoiture.length}} Voiture(s)</span>
        <ng-template #elseBlock>Aucune Voiture</ng-template>
      </p>

      <table class="table table-striped border-start border-end border-top">
        <thead>
        <tr>
          <th scope="col" class="text-center">ID</th>
          <th scope="col" class="text-center">Marque</th>
          <th scope="col" class="text-center">Modèle</th>
          <th scope="col" class="text-center">Couleur</th>
          <th scope="col" class="text-center">Kilomètres</th>
          <th scope="col" class="text-center">Type</th>
          <th scope="col" class="text-center">Transmission</th>
          <th scope="col" class="text-center">Etat</th>
<!--          <th scope="col" class="text-center border-0 "></th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let voiture of listVoiture; let i = index">
          <td class="text-center align-middle">{{voiture.id_voiture}}</td>
          <td class="text-center align-middle">{{voiture.modeleIntern.nomMarque}}</td>
          <td class="text-center align-middle">{{voiture.modeleIntern.nom}}</td>
          <td class="text-center align-middle">{{voiture.couleur}}</td>
          <td class="text-center align-middle">{{voiture.kilometre}}</td>
          <td class="text-center align-middle">{{voiture.typev}}</td>
          <td class="text-center align-middle">
            <div *ngIf="voiture.manuelle;else elseBlock">Manuelle</div>
            <ng-template #elseBlock><div>Auto</div></ng-template>
          </td>
          <td class="text-center align-middle">{{voiture.etat}}</td>
          <td><button [disabled]="voiture.etat === 'LOUE'" class="btn btn-primary" (click)="changeStatus(i)" data-bs-toggle="modal" data-bs-target="#statusModal">Changer l'état</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--voiture.etat === 'LOUE' && !expired(i)-->
<!--[ngClass]="voiture.etat === 'LOUE' && !expired(i) ? 'border-secondary border-4 blink_me' : ''"-->

<!-- Change status Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title myFont" id="statusModalLabel">Changement d'état</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="input-etat">Etat</label>
        <select id="input-etat" [(ngModel)]="status">
          <option value="PRET">Prêt</option>
          <option value="PREPARATION">Préparation</option>
          <option value="REPARATION">Réparation</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveStatus()">Enregister</button>
      </div>
    </div>
  </div>
</div>

<app-modal *ngIf="showModal" [message]="endMessage" [title]="modalTitle" (closeModalEvent)="resetForm()"></app-modal>
