<p>Catalogues</p>

<h3>Lister les voitures</h3>
<div class="row justify-content-center">
  <div class="col-8 text-center p-0 mt-3 mb-2">
    <div class="card pt-1 mt-3 mb-3">
        <div class="container allImg">
          <div class="img-thumbnail thumb col" *ngFor="let voiture of listVoiture">
            <figure class="figure d-flex flex-column imgVoiture">
              <img src="{{voiture.image}}" class="figure-img img-fluid rounded" alt="imageVoiture">
              <figcaption class="figure-caption text-center">
                <h5>{{voiture.modeleIntern.nomMarque}}</h5>
                <h6>{{voiture.modeleIntern.nom}}</h6>
              </figcaption>
              <figcaption class="figure-caption text-center">
                <div>
                  <small *ngIf="voiture.manuelle;else elseBlock" class="text-muted">Manuelle</small>
                  <ng-template #elseBlock><small class="text-muted">Auto</small></ng-template>
                </div>
                <div>
                  <small class="text-muted">{{voiture.couleur}}</small>
                </div>
                <div>
                  <small class="text-muted">{{voiture.carburant}}</small>
                </div>
              </figcaption>
            </figure>

            <div class="caddieDiv" >
              <h3 class="text-danger fw-bold">{{voiture.prix | currency:'EUR' }}/j</h3>
              <button class="btn btn-success" >
                <i class="fa fas fa-gas-pump cartShop" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


<!--<figure class="figure d-flex flex-column imgVoiture">-->
<!--  <img src="{{voiture.image}}" class="figure-img img-fluid rounded" alt="imageVoiture">-->
<!--  <figcaption class="figure-caption text-center">-->
<!--    <h5>{{voiture.modeleIntern.nomMarque}}</h5>-->
<!--    <h6>{{voiture.modeleIntern.nom}}</h6>-->
<!--  </figcaption>-->
<!--  <figcaption class="figure-caption text-center">-->
<!--    <div>-->
<!--      <small *ngIf="voiture.manuelle;else elseBlock" class="text-muted">Manuelle</small>-->
<!--      <ng-template #elseBlock><small class="text-muted">Auto</small></ng-template>-->
<!--    </div>-->
<!--    <div>-->
<!--      <small class="text-muted">{{voiture.couleur}}</small>-->
<!--    </div>-->
<!--    <div>-->
<!--      <small class="text-muted">{{voiture.carburant}}</small>-->
<!--    </div>-->
<!--  </figcaption>-->
<!--</figure>-->

