.padNav {
  padding: 5px 5px;
  border-radius: 5px;
  height: 100px;
  font-family: PT Sans Narrow, sans-serif;
}

.padfooter {
  padding: 0px 0px 5px 0px;
  border-radius: 5px;
  height: 100px;
}

.blueLogo {
  color: #0d6efd;
}
