<nav class="navbar navbar-expand-lg navbar-secondary bg-dark padNav">
  <div>
    <a routerLink="/" class="text-uppercase text-muted fs-1 text-decoration-none ps-3">
      Belg<span class="blueLogo">o</span>Rent
<!--      <img src="assets/images/belgorentLogo.png" class="figure-img img-fluid rounded" style="height: 50px; width: 200px;" alt="logoSite">-->
    </a>
  </div>
<!--  <button class="navbar-toggler bg-info" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon ">R</span>-->
<!--  </button>-->
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ps-3">
        <li class="nav-item active fw-bold fs-6">
          <a class="nav-link sizeTab" routerLink="/accueil">Accueil</a>
        </li>
        <li class="nav-item fw-bold fs-6">
          <a class="nav-link sizeTab" routerLink="/client" *ngIf="isConnected() && isAdmin()">Utilisateurs</a>
        </li>
        <li class="nav-item fw-bold fs-6">
          <a class="nav-link sizeTab" routerLink="/voiture" *ngIf="isConnected() && isAdmin()">Voitures</a>
        </li>
        <li class="nav-item fw-bold fs-6">
          <a class="nav-link sizeTab" routerLink="/location" *ngIf="isConnected() && isAdmin()">Locations</a>
        </li>
        <li class="nav-item fw-bold fs-6">
          <a class="nav-link sizeTab" routerLink="/rentalSteps" *ngIf="isConnected() && isUser()">Nouvelle location</a>
        </li>
        <li class="nav-item fw-bold fs-6">
          <a class="nav-link sizeTab" routerLink="/addnewcar" *ngIf="isConnected() && isAdmin()">Nouveau Véhicule</a>
        </li>
        <li class="nav-item fw-bold fs-6">
          <a class="nav-link sizeTab" routerLink="/filter">Recherche</a>
        </li>
      </ul>
    </div>
  <div class="p-lg-3">
    <button class="btn btn-secondary text-capitalize" routerLink="/login" *ngIf="!isConnected()">Se Connecter</button>
    <button class="btn btn-secondary text-capitalize" routerLink="/accueil" *ngIf="isConnected()" (click)="logout()">Se Deconnecter</button>
  </div>
</nav>

<router-outlet></router-outlet>

<!--<div class="card-footer bg-dark padfooter">-->

<!--</div>-->


