<nav class="navbar navbar-expand-lg navbar-secondary bg-dark padNav">
  <a class="navbar-brand" routerLink="/">BelgoRent</a>
  <button class="navbar-toggler bg-info" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon ">R</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/accueil">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/voiture">Voitures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/location">Locations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rentalSteps">Etape 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addnewcar">Nouveau véhicule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/client">Utilisateurs</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
